.jumbotron {
    margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    min-width: 400px;
    margin: 50px auto auto auto;
    text-align: center;
    font-family: arial;
}

.col-md-3 {
    width: auto !important;
}

#fitbit {
    max-width: 400px;
    min-width: 400px;
    margin: 25px auto auto auto;
    font-family: arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}