@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    description of the reason for the project,

    dates and place: WOU (spell it out) CS460-462 Software Engineering I, II and III, Senior Capstone course

    all team members names

    a link to your projects Git repository, which should be public

    summary of tech/languages/SDLC/tools used to develop your site, include tools

    anything you're proud of or want to say, or highlight
*@

<div class="row">
    <div class="col-md-offset-3 col-md-6" id="credits">
        <div align="center">
            <img src="~/Images/companyLogo.png" alt="companyLogo" id="companyLogo">
        </div>
        <hr />
        <h1 align="center" style="color: white;">Credits</h1>
        <hr />
        <div class="text">
            <h4 align="center" style="color: white;">Purpose for Project</h4>
            <p class="vision">
                Purpose for Project
            </p>
            <h4 align="center" style="color: white;">Location</h4>
            <p class="vision">
                This project was created by 404 Not Found, a team working on the CS 460-462 Software Engineering I, II and III Senior Project Capstone course at Western Oregon University.
                Our team members are:
            </p>
            <ul>
                <li>Joe Collinsworth</li>
                <li>Shay Green</li>
                <li>Megan Traeger</li>
                <li>Sodara Y</li>
            </ul>
            <p class="vision">The code for our project is hosted on Github. A link to our repository can be found <a href="https://github.com/jmcworth/404notfoundproj" id="creditsLink">here</a>.</p>
            <p class="vision">This repository also includes a summary of tools used to complete this project as well as contributing requirements.</p>
        </div>
    </div>
</div>